@model LainausjarjestelmaMVC.Models.Logins

@{
    ViewBag.Title = "Yhteenveto - Login";
}
<br />
<h2>Yhteenveto</h2>

<div>
    <h4>Login</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salasana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salasana)
        </dd>
    </dl>
</div>
<p>
    <br />
    @Html.ActionLink("Muokkaa", "Edit", new { id = Model.LoginID }) | 
    @Html.ActionLink("Takaisin listaan", "Index")
</p>
