@model LainausjarjestelmaMVC.Models.Lainaukset

@{
    ViewBag.Title = "Lainaa";
}
<br />
<h2>Lainaa</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Tuote</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.TuoteID, "Tuote", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("TuoteID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TuoteID, "", new { @class = "text-danger" })
        </div>
    </div>

    @*//Tähän alle tehdään kotivaraston -näkymä, joka muuttuu tuotteen mukaan automaattisesti
        <div class="form-group">
            @Html.LabelFor(model => model.TuoteID, "Tuote", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TuoteID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TuoteID, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.LainaajaID, "Lainaaja", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("LainaajaID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LainaajaID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lainauspaiva, "Lainauspäivä", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Lainauspaiva, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.Lainauspaiva, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Palautuspaiva, "Palautuspäivä", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Palautuspaiva, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.Palautuspaiva, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.VarastoID, "Mihin varastoon?", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("VarastoID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.VarastoID, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lainaa" class="btn btn-info" />
        </div>
    </div>
</div>
}
<br />
<div>
    @Html.ActionLink("Takaisin lainauksiin", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
