@model LainausjarjestelmaMVC.Models.Lainaukset

@{
    ViewBag.Title = "Palauta tuote";
}

<br />

<h2>Palauta</h2>

<div>
    <h4>Tuote</h4>
    <hr />
    <h4>Haluatko varmasti palauttaa Tuotteen?</h4>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Tuotteet.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tuotteet.Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tuotteet.Kotivarasto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tuotteet.Kotivarasto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lainaajat.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lainaajat.Etunimi)
            @Html.DisplayFor(model => model.Lainaajat.Sukunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lainauspaiva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lainauspaiva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Palautuspaiva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palautuspaiva)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="form-actions no-color">
            <input type="submit" value="Palauta" class="btn btn-secondary" />
            <br />
            <br />
            @Html.ActionLink("Takaisin lainauksiin", "Index")
        </div>
    }

</div>
