@*//TÄMÄ SIVU EI OLE KÄYTÖSSÄ TÄLLÄ HETKELLÄ!*@

@model LainausjarjestelmaMVC.Models.Lainaukset

@{
    ViewBag.Title = "Yhteenveto - Lainaukset";
}

<h2>Yhteenveto</h2>

<div>
    <h4>Lainaukset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tuote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tuote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lainaaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lainaaja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lainauspaiva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lainauspaiva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Palautuspaiva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palautuspaiva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Varastopaikka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Varastopaikka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lainaajat.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lainaajat.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tuotteet.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tuotteet.Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Varastot.Varastopaikka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Varastot.Varastopaikka)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LainausID }) |
    @Html.ActionLink("Back to List", "Index")
</p>