@model LainausjarjestelmaMVC.Models.Tuotteet

@{
    ViewBag.Title = "Poista - Tuote";
}

<br />

<h2>Poista</h2>

<div>
    <h4>Tuote</h4>
    <hr />
    <h4 class="text-danger">Oletko varma, että haluat poistaa tämän Tuotteen?</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kotivarasto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kotivarasto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kuva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kuva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tila)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tila)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-outline-danger" />
            <br />
            <br />
            @Html.ActionLink("Takaisin listaan", "Index")
        </div>
    }

</div>