@model IEnumerable<LainausjarjestelmaMVC.Models.Tuotteet>

@{
    ViewBag.Title = "Tuotteet";
}

<br />

<h2>Tuotteet</h2>

<p>
    @Html.ActionLink("LISÄÄ UUSI", "Create", "Tuotteet", new { @class = "btn btn-primary btn-sm" })
</p>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kotivarasto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tila)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderBy(t => t.Nimi)) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nimi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Kotivarasto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tila)
    </td>
    <td>
        @Html.ActionLink("MUOKKAA", "Edit", new { id = item.TuoteID }, new { @class = "btn btn-outline-secondary btn-sm" })&nbsp;
        @*@Html.ActionLink("LISÄTIETOJA", "Details", new { id = item.TuoteID }, new { @class = "btn btn-outline-light btn-sm" })&nbsp;*@
        @Html.ActionLink("POISTA", "Delete", new { id = item.TuoteID }, new { @class = "btn btn-outline-danger btn-sm" })
    </td>
</tr>
}

</table>