@model IEnumerable<LainausjarjestelmaMVC.Models.Tuotteet>

@{
    ViewBag.Title = "Tuotteet";
}
<br />
<h2>Tuotteet</h2>

<p>
    @Html.ActionLink("Lisää uusi", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kotivarasto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kuva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tila)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lainaaja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lainauspaiva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Palautuspaiva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Varastopaikka)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kotivarasto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kuva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tila)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lainaaja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lainauspaiva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Palautuspaiva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Varastopaikka)
        </td>
        <td>
            @Html.ActionLink("Muokkaa", "Edit", new { id=item.TuoteID }) |
            @Html.ActionLink("Yhteenveto", "Details", new { id=item.TuoteID }) |
            @Html.ActionLink("Poista", "Delete", new { id=item.TuoteID })
        </td>
    </tr>
}

</table>
