@model LainausjarjestelmaMVC.Models.Lainaajat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lainaajat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sukunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puhelinnumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puhelinnumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logins.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logins.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LainaajaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
