@model IEnumerable<LainausjarjestelmaMVC.Models.Lainaajat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puhelinnumero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logins.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sukunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Puhelinnumero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Logins.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LainaajaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LainaajaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LainaajaID })
        </td>
    </tr>
}

</table>
