@model IEnumerable<LainausjarjestelmaMVC.Models.Lainaajat>

@{
    ViewBag.Title = "Käyttäjät";
}

<br />

<h2>Käyttäjät</h2>

<p>
    @Html.ActionLink("LISÄÄ UUSI", "Create", "Lainaajat", new { @class = "btn btn-primary btn-sm" })
</p>

<table class="table table-hover">
    <tr>
        <th>
            Nimi
            @*@Html.DisplayNameFor(model => model.Etunimi)
            @Html.DisplayNameFor(model => model.Sukunimi)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puhelinnumero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Etunimi)
            @Html.DisplayFor(modelItem => item.Sukunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Puhelinnumero)
        </td>
        <td>
            @Html.ActionLink("MUOKKAA", "Edit", new { id = item.LainaajaID }, new { @class = "btn btn-secondary btn-sm" })
            @Html.ActionLink("POISTA", "Delete", new { id = item.LainaajaID }, new { @class = "btn btn-outline-danger btn-sm" })
        </td>
    </tr>
}

</table>