@model IEnumerable<LainausjarjestelmaMVC.Models.Lainaajat>

@{
    ViewBag.Title = "Käyttäjät";
}
<br />
<h2>Käyttäjät</h2>

<p>
    @Html.ActionLink("Lisää uusi", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puhelinnumero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sukunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Puhelinnumero)
        </td>
        <td>
            @Html.ActionLink("Muokkaa", "Edit", new { id=item.LainaajaID }) |
            @Html.ActionLink("Yhteenveto", "Details", new { id=item.LainaajaID }) |
            @Html.ActionLink("Poista", "Delete", new { id=item.LainaajaID })
        </td>
    </tr>
}

</table>
